# Eclipse-related files #
#########################
.classpath
.project
.settings/
bin/
.externalToolBuilders/
similarcodetemplates.xml

# Maven generation directory #
##############################
target/

# API within sources         #
##############################
src/doc/api

# Mac Os related files       #
##############################
.DS_Store
