# Maven generation directory #
##############################
target/

# API within sources         #
##############################
src/doc/api

# Mac Os related files       #
##############################
.DS_Store

# Eclipse IDE related files  #
##############################
.classpath
.settings
.project
