# Eclipse-related files #
#########################
.classpath
.project
.settings/

# Maven generation directory #
##############################
target/
bin/

# API within sources         #
##############################
src/doc/api

# Mac Os related files       #
##############################

